<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        {{article-tile}}
      </div>
      <div class="col-md-6">
        {{article-tile}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {{article-tile}}
      </div>
      <div class="col-md-6">
        {{article-tile}}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    {{sidebar-ad}}
  </div>
</div>
